@import "mixin";

body {
  background-color: #232323;
  font-family: "Gotham Narrow SSm 4r",Arial,Helvetica,sans-serif;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#website {
  align-items: center;
  justify-content: center;
}

.headerbar {
  @include centerItems;
  background-color: #0054a0;
  justify-content: center;
  height: 58px;

  img {
    height: 100%;
    align-self: center;
    margin-right: 100px;
  }

  li {
    display: inline;
    padding: 0px 15px;
  }
}

.break {
  @include centerItems;
  height: 5px;
  background-color: aqua;
}

.navbar {
  @include centerItems;
  justify-content: center;
  background-color: white;
  color: navy;
  li {
    display: inline;
    padding: 0px 30px;
  }
}

.allaboard {
  @include centerItems;
  img {
    width: 100%;
  }
}

.searchBlock {
  @include centerItems;
  background-color: rgb(9, 33, 61);
  height: 109px;
  align-items: center;
  justify-content: center;
}

.searchItems {
  width: 80%;
}

.searchText {
  width: 100%;
  justify-content: space-between;
  p {
    margin: 0px 10px;
  }
  .smallText {
    font-size: 0.80em;
  }
}

.rightText {
  align-self: flex-end;
}

.form {
  justify-content: space-around;
  select {
    padding: 5px 10px;
    margin: 5px 10px;
  }
  .results {
    padding: 10px 10px;
    background-color: rgb(53, 167, 72);
  }
}

.promo-block {
  @include centerItems;
  height: 338px;
  background-color: rgb(13,47, 86);
}
