body {
  background-color: #232323;
  font-family: "Gotham Narrow SSm 4r", Arial, Helvetica, sans-serif;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#website {
  align-items: center;
  justify-content: center;
}

.headerbar {
  align-self: center;
  width: 95%;
  background-color: #0054a0;
  justify-content: center;
  height: 58px;
}
.headerbar img {
  height: 100%;
  align-self: center;
  margin-right: 100px;
}
.headerbar li {
  display: inline;
  padding: 0px 15px;
}
.headerbar .shortbar {
  display: none;
}

.break {
  align-self: center;
  width: 95%;
  height: 5px;
  background-color: aqua;
}

.navbar {
  align-self: center;
  width: 95%;
  justify-content: center;
  background-color: white;
  color: navy;
}
.navbar li {
  display: inline;
  padding: 0px 30px;
}

.allaboard {
  align-self: center;
  width: 95%;
}
.allaboard img {
  width: 100%;
}

.searchBlock {
  align-self: center;
  width: 95%;
  background-color: #09213d;
  height: 109px;
  align-items: center;
  justify-content: center;
}

.searchItems {
  width: 80%;
}

.searchText {
  width: 100%;
  justify-content: space-between;
}
.searchText p {
  margin: 0px 10px;
}
.searchText .smallText {
  font-size: 0.8em;
}

.rightText {
  align-self: flex-end;
}

.form {
  justify-content: space-around;
  margin: 100px, 0px;
}
.form select {
  padding: 5px 10px;
  margin: 5px 10px;
}
.form .results {
  padding: 10px 10px;
  background-color: #35a748;
}

.shortSearch {
  display: none;
}

.promo-block {
  align-self: center;
  width: 95%;
  height: 338px;
  background-color: #0d2f56;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #09213d;
  height: 85%;
  width: 275px;
  border: 1px solid lightgray;
  align-items: center;
  margin: 0px 10px;
  justify-content: center;
}
.box .top {
  height: 30px;
  font-size: 100%;
  padding: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box .imageMed {
  width: 100%;
  height: 100%;
  background-image: url("../img/medallion.jpg");
  background-size: 100% 100%;
}
.box .imageMexico {
  width: 100%;
  height: 100%;
  background-image: url("../img/mexico.jpg");
  background-size: 100% 100%;
}
.box .imageTrain {
  width: 100%;
  height: 100%;
  background-image: url("../img/train.jpg");
  background-size: 100% 100%;
}
.box .imageEuro {
  width: 100%;
  height: 100%;
  background-image: url("../img/euro.jpg");
  background-size: 100% 100%;
}

@media screen and (max-width: 1170px) {
  .headerbar img {
    height: 100%;
    align-self: center;
    margin-right: 5px;
  }
  .headerbar li {
    display: inline;
    padding: 0px 5px;
    font-size: 85%;
  }

  .navbar li {
    padding: 0px 5px;
  }

  .form select {
    margin: 5px 0px;
  }

  .searchItems {
    width: 100%;
  }

  .box .top {
    font-size: 90%;
    line-height: 1em;
  }
}
@media screen and (max-width: 860px) {
  .headerbar {
    justify-content: space-between;
  }
  .headerbar .shortbar {
    display: flex;
    margin: 0px 20px;
  }
  .headerbar .shortbar ion-icon {
    align-self: center;
    font-size: 32px;
  }
  .headerbar .shortbar span {
    margin: 0px 20px;
  }

  .regNav {
    display: none;
  }

  .navbar {
    display: none;
  }

  .searchItems {
    display: none;
  }

  .shortSearch {
    display: flex;
    padding: 10px 10px;
    background-color: #35a748;
  }

  .promo-block {
    flex-direction: column;
    justify-content: space-between;
    height: 1200px;
  }
  .promo-block .box {
    width: 95%;
    height: 100%;
    margin: 10px 0px;
  }
  .promo-block .top {
    width: 61%;
  }
  .promo-block .odd {
    flex-direction: row;
  }
  .promo-block .even {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=input.css.map */
