@import "mixin";

body {
  background-color: #232323;
  font-family: "Gotham Narrow SSm 4r",Arial,Helvetica,sans-serif;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#website {
  align-items: center;
  justify-content: center;
}

.headerbar {
  @include centerItems;
  background-color: #0054a0;
  justify-content: center;
  height: 58px;

  img {
    height: 100%;
    align-self: center;
    margin-right: 100px;
  }

  li {
    display: inline;
    padding: 0px 15px;
  }
  .shortbar {
    display: none;
  }
}

.break {
  @include centerItems;
  height: 5px;
  background-color: aqua;
}

.navbar {
  @include centerItems;
  justify-content: center;
  background-color: white;
  color: navy;
  li {
    display: inline;
    padding: 0px 30px;
  }
}

.allaboard {
  @include centerItems;
  img {
    width: 100%;
  }
}

.searchBlock {
  @include centerItems;
  background-color: rgb(9, 33, 61);
  height: 109px;
  align-items: center;
  justify-content: center;
}

.searchItems {
  width: 80%;
}

.searchText {
  width: 100%;
  justify-content: space-between;
  p {
    margin: 0px 10px;
  }
  .smallText {
    font-size: 0.80em;
  }
}

.rightText {
  align-self: flex-end;
}

.form {
  justify-content: space-around;
  margin: 100px, 0px;
  select {
    padding: 5px 10px;
    margin: 5px 10px;
  }
  .results {
    padding: 10px 10px;
    background-color: rgb(53, 167, 72);
  }
}

.shortSearch {
  display: none;
}

.promo-block {
  @include centerItems;
  height: 338px;
  background-color: rgb(13,47, 86);
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgb(9, 33, 61);
  height: 85%;
  width: 275px;
  border: 1px solid lightgray;
  align-items: center;
  margin: 0px 10px;
  justify-content: center;

  .top {
    height: 30px;
    font-size: 100%;
    padding: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .imageMed {
    width: 100%;
    height: 100%;
    background-image: url("../img/medallion.jpg");
    background-size: 100% 100%;
  }

  .imageMexico {
    width: 100%;
    height: 100%;
    background-image: url("../img/mexico.jpg");
    background-size: 100% 100%;
  }

  .imageTrain {
    width: 100%;
    height: 100%;
    background-image: url("../img/train.jpg");
    background-size: 100% 100%;
  }

  .imageEuro {
    width: 100%;
    height: 100%;
    background-image: url("../img/euro.jpg");
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 1170px) {
  .headerbar {
    img {
      height: 100%;
      align-self: center;
      margin-right: 5px;
    }

    li {
      display: inline;
      padding: 0px 5px;
      font-size: 85%;
    }
  }

  .navbar {
    li {
      padding: 0px 5px;
    }
  }

  .form {
    select {
      margin: 5px 0px;
    }
  }
  .searchItems {
    width: 100%;
  }
  .box {
    .top {
      font-size: 90%;
      line-height: 1em;
    }
  }
}

@media screen and (max-width: 860px){
  .headerbar {
    justify-content: space-between;
    .shortbar {
      display: flex;
      margin: 0px 20px;
      ion-icon {
        align-self: center;
        font-size: 32px;
      }
      span {
        margin: 0px 20px;
      }
    }
  }


  .regNav {
    display: none;
  }

  .navbar {
    display: none;
  }

  .searchItems{
    display: none;
  }
  .shortSearch {
    display: flex;
    padding: 10px 10px;
    background-color: rgb(53, 167, 72);
  }

  .promo-block {
    flex-direction: column;
    justify-content: space-between;
    height: 1200px;

    .box{
      width: 95%;
      height: 100%;
      margin: 10px 0px;
    }

    .top {
      width: 61%;
    }

    .odd {
      flex-direction: row;
    }

    .even {
      flex-direction: row-reverse;
    }
  }
}
